[SddmGreeterTheme]
Name=BreezeNew
Description=Breeze Theme
Description[ar]=سمة النسيم
Description[ast]=Tema Breeze
Description[bs]=Breeze Tema
Description[ca]=Tema Brisa
Description[ca@valencia]=Tema Brisa
Description[cs]=Motiv Breeze
Description[da]=Breeze-temaet
Description[de]=Breeze-Design
Description[el]=Θέμα Breeze
Description[en_GB]=Breeze Theme
Description[es]=Tema Brisa
Description[et]=Breeze teema
Description[fi]=Breeze-teema
Description[fr]=Thème brise
Description[gl]=Tema Breeze
Description[he]=ערכת הנושא Breeze
Description[hu]=Breeze téma
Description[id]=Tema Angin
Description[is]=Breeze þema
Description[it]=Tema Brezza
Description[ja]=Breeze テーマ
Description[ko]=Breeze 테마
Description[lt]=Breeze apipavidalinimas
Description[nb]=Breeze-tema
Description[nds]=Breeze-Muster
Description[nl]=Thema Breeze
Description[nn]=Breeze-tema
Description[pl]=Wystrój Bryza
Description[pt]=Tema Brisa
Description[pt_BR]=Tema Breeze
Description[ru]=Тема «Breeze»
Description[sk]=Téma Vánok
Description[sl]=Tema Sapica
Description[sr]=Тема Поветарац
Description[sr@ijekavian]=Тема Поветарац
Description[sr@ijekavianlatin]=Tema Povetarac
Description[sr@latin]=Tema Povetarac
Description[sv]=Breeze-tema
Description[tr]=Breeze Teması
Description[uk]=Тема «Breeze»
Description[x-test]=xxBreeze Themexx
Description[zh_CN]=微风主题
Description[zh_TW]=微風主題
Author=David Edmundson
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=breeze.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=breeze
Theme-API=2.0
